*{
	margin:0;
	padding:0;
	border:0;
	overflow-x: hidden;
}
body{
	background: url(../img/Captura.png);
}
.container-whtpp{
	margin-top: 18px;
	padding-left:0;

}
.nav-ppal{
	border:1px solid #F5F5F5;
}
.nav{
	background-color:#EFEBEB;
	height:50px;
}
.nav.left{
	border-right:1px solid #F5F5F5;
}
.img-container{
	padding:2px;
	margin-left:25px;
}
#user-img{
	width:40px;
	height:40px;
	border-radius:50px;
	margin:3px 1px 1px 5px;
}
.adcard-container{
	padding:6px;
}
.ellipse-container{
	padding:7px;
}
.logo{
	margin:0;
	padding-right:0;
}
.fa{
	font-size: 20px;
	color:#C8C5C5;
	margin-top: 8px
}
.fa-ellipsis-v{
	margin-left:10px;
}
.logoplustext{
	padding:0;
}
#logo-code{
	width:40px;
	height:40px;
	border-radius: 50px;
	margin-top:5px;
}
.logo-text{
	margin-top: 10px;
	padding:0;
}
#title{
	font-size:12px;
	font-weight: bold;
	margin:0;
}
#members{
	font-size:10px;
	margin:0;
}
.clip-container{
	margin-top:6px;
	padding-left:10px;
}
.printed-messages{
	height:550px;
	background: url("../img/chat-panel-bg.png");
}
.send-messages{
	height:50px;
}
.send-container{
	background-color: grey;
}
.input-container{
	padding: 8px 0;
}
#message{
	width:100%;
	padding:5px;
}
#sent-message{
	margin-top: 20px;
}
.sent-container{
	text-align: center;
	background-color: #C7FCBC;
	padding:10px;
	margin-bottom:20px;
	border-radius: 10px
}
.search-container{
	padding:5px;

}
#search{
	width:100%;
	border:1px solid whitesmoke;
}
.left-c{
	background-color:white;
	margin: 1px ;
	padding: 10px 0;
}
.avatar{
	width: 40px;
	height:40px;
	border-radius: 50px;
}
.contacts{
	width: 100%
}